html, body {
  direction: rtl;
}
body {
  text-align: right;
}
.ltr {
  direction: ltr !important;
}

.row.slider-fade1 .owl-carousel {
 overflow: hidden;
}

/*
================================================
9. How it works
================================================
*/
.works-section {
  background-image: url(../img/bg/works-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  line-height: 1;
}
.works-section .col-lg-3:last-child .works-item-content::before {
  display: none;
}
.works-title {
  margin-bottom: 100px;
  text-align: right;
}
.works-title span {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
.works-title h2 {
  font-size: 35px;
  color: #ffffff;
  margin: 15px 0 0 0;
}
.works-item-content {
  position: relative;
}
.works-item-content::before {
  background: #ffffff none repeat scroll 0 0;
  content: '';
  height: 1px;
  right: 30px;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.works-item-content .works-number {
  position: relative;
  text-align: center;
  padding-top: 80px;
}
.works-item-content .works-number .number-btn {
  position: absolute;
  right: 0;
  display: inline-block;
  top: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #000000;
  z-index: 1;
}
.works-item-content .works-number .number-btn span {
  font-size: 18px;
  font-weight: bold;
}
.works-item-content .works-number .number-btn::after,
.works-item-content .works-number .number-btn::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.works-item-content .works-number .number-btn::before {
  -webkit-animation: ripple 2s linear infinite;
  animation: ripple 2s linear infinite;
}
.works-item-content .works-number .number-btn::after {
  -webkit-animation: ripple 2s linear 1s infinite;
  animation: ripple 2s linear 1s infinite;
}
.works-item-content .works-number .number-btn:hover,
.works-item-content .works-number .number-btn:focus {
  background-color: #122e87;
  color: #ffffff;
  text-decoration: none;
}
.works-item-content h3 {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
.works-item-content p {
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 0;
  line-height: 20px;
}
.works-item-content .works-btn {
  margin-top: 15px;
}
.works-item-content .works-btn .works-btn-one {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition: 0.5s;
  font-size: 14px;
}
.works-item-content .works-btn .works-btn-one:hover {
  text-decoration: none;
  letter-spacing: 1px;
}
.works-item-content .works-btn .works-btn-one i {
  margin-inline-start: 4px;
}
@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes ripple {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
/*

/* Modals */
@media (min-width: 992px) {
  .modal-xl {
      max-width: 1200px;
  }
}
.modal-backdrop.show {
  opacity: 0.3;
}
.modal {
  z-index: 111111;
}

.modal-header {
  padding: 0.6rem 1rem;
}
.modal-title {
  line-height: 42px;
}
.modal-body ul {
  padding-inline-start: 2rem;
}

.modal-body h2,
.modal-body h3 {
  font-size: .95rem;
  font-weight: 700;
}
.modal-body ul li {
  font-size: 14px;
}

.modal .form-group {
width: 80%;
position: relative;
}
.modal .form-group label {
  font-size: 14px;
}
.modal .form-group .form-control {
  background: #fbfcfd;
  border-radius: 10px;
}
.modal .form-group .form-control:not(textarea) {
  height: 50px;
}
.modal .form-group .form-control.phone {
  direction: ltr;
  padding-inline-start: 68px;
}
.modal .form-group .form-control::placeholder {
  color: #636363;
}
.modal .form-group .country-code {
  background: #dde4eb;
  color: #0b2066;
  border-radius: 10px 0 0 10px;
  font-weight: 700;
  height: 48px;
  min-width: 57px;
  line-height: 50px;
  position: absolute;
  top: 2.21rem;
  left: 1px;
  text-align: center;
}
.modal .form-group .form-control.otp {
  padding-inline-start: 0.4rem;
  text-align: center;
}
.modal .form-group .otp-flex {
  gap: 1rem;
  width: 90%;
}
.details-form .form-group {
  width: 100%;
}

.details-form .butn-down:after {
    content: "\f0ab"
}

.details-form .table th,
.details-form .table td {
  font-size: 14px;
  padding-block: 0.6rem;
}
.details-form .table td {
  line-height: 32px;
  padding-block: 0.2rem;
}
.details-form .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(251 251 251);
}

input::placeholder, .form-control::placeholder {
  color: #29273d;
  font-size: 13px;
  font-weight: 500;
}